div#container
{
   width: 1400px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #F5F5F5;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#Shape4
{
   border-width: 0;
}
#Layer1
{
   background-color: #1B2558;
   background-image: none;
}
#wb_CssMenu1
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   margin: 0;
}
#wb_CssMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_CssMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
}
#wb_CssMenu1 a
{
   display: block;
   float: left;
   color: #696969;
   border: 1px #F5F5F5 solid;
   background-color: #FFFFFF;
   background-image: none;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   height: 48px;
   line-height: 48px;
   padding: 0px 20px 0px 20px;
   vertical-align: middle;
   text-align: center;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover
{
   color: #FF7F50;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #F5F5F5 solid;
}
#wb_CssMenu1 li.firstmain
{
   padding-left: 0px;
}
#wb_CssMenu1 li.lastmain
{
   padding-right: 0px;
}
#wb_CssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#Layer3
{
   background-color: #FBFBFB;
   background-image: none;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 10px 0px 10px 0px;
   margin: 0;
   text-align: right;
}
#wb_Text1 div
{
   text-align: right;
}
#Layer4
{
   background-color: #FFFFFF;
   background-image: none;
}
#Layer5
{
   background-color: transparent;
   background-image: url(images/2017-New-Antminer-S9-14TH-s-Bitcoin.jpg_350x350.jpg);
   background-repeat: repeat;
   background-position: left top;
   background-size: 100% 100%;
   border: 1px solid #CCCCCC;
}
#Layer5
{
   background-color: #FFFFFF;
   -webkit-transition: background-color 500ms linear 0ms;
   -moz-transition: background-color 500ms linear 0ms;
   transition: background-color 500ms linear 0ms;
}
#Layer5:hover
{
   -webkit-transform: rotate(0deg) scale(1.2,1.2) ;
   -moz-transform: rotate(0deg) scale(1.2,1.2) ;
   transform: rotate(0deg) scale(1.2,1.2) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#Layer6
{
   background-color: transparent;
   background-image: url(images/2017-New-Antminer-S9-14TH-s-Bitcoin.jpg_350x350.jpg);
   background-repeat: repeat;
   background-position: left top;
   background-size: 100% 100%;
   border: 1px solid #CCCCCC;
}
#Layer7
{
   background-color: transparent;
   background-image: url(images/2017-New-Antminer-S9-14TH-s-Bitcoin.jpg_350x350.jpg);
   background-repeat: repeat;
   background-position: left top;
   background-size: 100% 100%;
   border: 1px solid #CCCCCC;
}
#Layer8
{
   background-color: transparent;
   background-image: url(images/2017-New-Antminer-S9-14TH-s-Bitcoin.jpg_350x350.jpg);
   background-repeat: repeat;
   background-position: left top;
   background-size: 100% 100%;
   border: 1px solid #CCCCCC;
}
#Layer9
{
   background-color: transparent;
   background-image: url(images/2017-New-Antminer-S9-14TH-s-Bitcoin.jpg_350x350.jpg);
   background-repeat: repeat;
   background-position: left top;
   background-size: 100% 100%;
   border: 1px solid #CCCCCC;
}
#Layer10
{
   background-color: transparent;
   background-image: url(images/2017-New-Antminer-S9-14TH-s-Bitcoin.jpg_350x350.jpg);
   background-repeat: repeat;
   background-position: left top;
   background-size: 100% 100%;
   border: 1px solid #CCCCCC;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   margin: 0;
   padding: 0;
}
#Heading1
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#Button1
{
   border: 1px solid #2E6DA4;
   border-radius: 2px;
   background-color: #F5F5F5;
   background-image: none;
   color: #696969;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   margin: 0;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 10px 0px 10px 0px;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading2
{
   color: #FFA500;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   margin: 0;
   text-align: left;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 10px 0px 10px 0px;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading3
{
   color: #FFA500;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   margin: 0;
   text-align: left;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 10px 0px 10px 0px;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Heading4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading4
{
   color: #FFA500;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   margin: 0;
   text-align: left;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 10px 0px 10px 0px;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#wb_Heading5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading5
{
   color: #FFA500;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   margin: 0;
   text-align: left;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 10px 0px 10px 0px;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_Heading6
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading6
{
   color: #FFA500;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   margin: 0;
   text-align: left;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 10px 0px 10px 0px;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#wb_Heading7
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading7
{
   color: #FFA500;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   margin: 0;
   text-align: left;
}
#Layer11
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_Heading8
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   margin: 0;
   padding: 35px 0px 35px 0px;
}
#Heading8
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#wb_Heading9
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   margin: 0;
   padding: 20px 0px 20px 0px;
}
#Heading9
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   margin: 0;
   text-align: center;
}
#Layer12
{
   background-color: #FBFBFB;
   background-image: none;
   border: 1px solid #CCCCCC;
   box-shadow: 0px 0px 3px #00BFFF;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 10px 0px 10px 0px;
   margin: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#Button2
{
   border: 0px solid #2E6DA4;
   border-radius: 4px;
   background-color: #FF7F50;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   margin: 0;
}
#Layer13
{
   background-color: #FFFFFF;
   background-image: none;
}
#Layer14
{
   background-color: #FBFBFB;
   background-image: none;
}
#Button3
{
   border: 0px solid #2E6DA4;
   border-radius: 4px;
   background-color: #FF7F50;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   margin: 0;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 10px 0px 10px 0px;
   margin: 0;
   text-align: left;
}
#wb_Text9 div
{
   text-align: left;
}
#wb_Heading11
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   margin: 0;
   padding: 35px 0px 35px 0px;
}
#Heading11
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#Editbox1
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 66px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: middle;
}
#Editbox1:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 20px 0px;
   margin: 0;
   text-align: left;
}
#wb_Text10 div
{
   text-align: left;
   white-space: nowrap;
}
#Line1
{
   border-color: #F5F5F5;
   border-style: solid;
   border-bottom-width: 264px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#Shape1
{
   border-width: 0;
}
#wb_Heading10
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   margin: 0;
   padding: 10px 0px 10px 0px;
}
#Heading10
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   margin: 0;
   text-align: center;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text11 div
{
   text-align: center;
}
#wb_MaterialIcon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_MaterialIcon2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#MaterialIcon2
{
   height: 30px;
   width: 30px;
}
.MaterialIcon2
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.MaterialIcon2:before
{
   content: "\e416";
}
#MaterialIcon2 i
{
   color: #265A88;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 29px;
}
#wb_MaterialIcon2:hover i
{
   color: #337AB7;
}
#Layer15
{
   background-color: transparent;
   background-image: none;
}
#wb_Text12 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 10px 0px 10px 0px;
   margin: 0;
   text-align: left;
}
#wb_Text12 div
{
   text-align: left;
}
#wb_Text13 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 10px 0px 10px 0px;
   margin: 0;
   text-align: left;
}
#wb_Text13 div
{
   text-align: left;
}
#Layer16
{
   background-color: #445268;
   background-image: none;
}
#Layer2
{
   background-color: #FFFFFF;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 2px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #DCDCDC;
   border-right-color: #DCDCDC;
   border-bottom-color: #C0C0C0;
   border-left-color: #DCDCDC;
   box-shadow: 0px 1px 1px #C0C0C0;
}
#wb_MaterialIcon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_MaterialIcon1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#MaterialIcon1
{
   height: 22px;
   width: 29px;
}
.MaterialIcon1
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.MaterialIcon1:before
{
   content: "\e068";
}
#MaterialIcon1 i
{
   color: #265A88;
   display: inline-block;
   font-size: 22px;
   line-height: 22px;
   vertical-align: middle;
   width: 21px;
}
#wb_MaterialIcon1:hover i
{
   color: #337AB7;
}
#Layer17
{
   background-color: transparent;
   background-image: url(images/TB14HHcPFXXXXc8XFXXXXXXXXXX-1440-280.jpg);
   background-repeat: repeat;
   background-position: left top;
   background-size: 包含;
}
#Layer18
{
   background-color: #E1E9F0;
   background-image: none;
}
#Shape2
{
   border-width: 0;
}
#wb_Heading12
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   margin: 0;
   padding: 0;
}
#Heading12
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   margin: 0;
   text-align: center;
}
#Layer19
{
   background-color: transparent;
   background-image: none;
}
#wb_MaterialIcon3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_MaterialIcon3:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#MaterialIcon3
{
   height: 26px;
   width: 26px;
}
.MaterialIcon3
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.MaterialIcon3:before
{
   content: "\e168";
}
#MaterialIcon3 i
{
   color: #00BFFF;
   display: inline-block;
   font-size: 26px;
   line-height: 26px;
   vertical-align: middle;
   width: 25px;
}
#wb_MaterialIcon3:hover i
{
   color: #FF7F50;
}
#wb_MaterialIcon3
{
   background-color: #FFFFFF;
   -webkit-transition: background-color 500ms linear 0ms;
   -moz-transition: background-color 500ms linear 0ms;
   transition: background-color 500ms linear 0ms;
}
#wb_MaterialIcon3:hover
{
   -webkit-transform: rotate(0deg) scale(1.2,1.2) ;
   -moz-transform: rotate(0deg) scale(1.2,1.2) ;
   transform: rotate(0deg) scale(1.2,1.2) ;
   -webkit-transition: -webkit-transform 500ms ease-in 0ms;
   -moz-transition: transform 500ms ease-in 0ms;
   transition: transform 500ms ease-in 0ms;
}
#wb_Text14 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text14 div
{
   text-align: center;
}
#Layer20
{
   background-color: #FF7F50;
   background-image: none;
   border: 1px solid #CCCCCC;
   border-radius: 4px;
}
#wb_FontAwesomeIcon3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_FontAwesomeIcon3:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon3
{
   height: 21px;
   width: 16px;
}
#FontAwesomeIcon3 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 21px;
   vertical-align: middle;
   width: 15px;
}
#wb_FontAwesomeIcon3:hover i
{
   color: #337AB7;
}
#wb_Text15 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text15 div
{
   text-align: left;
}
#wb_Heading13
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading13
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 35px;
   margin: 0;
   text-align: left;
}
#wb_Text16 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text16 div
{
   text-align: left;
   white-space: nowrap;
}
#wb_Text17 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text17 div
{
   text-align: left;
}
#wb_BulletedList1
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   background-image: url(images/index_BulletedList1_bkgrnd.png);
   background-repeat: repeat-y;
   background-position: left top;
   background-size: 100% 100%;
   margin: 0;
}
#wb_BulletedList1 .bullet
{
   color: #000000;
   float: left;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 0px;
   text-align: left;
   vertical-align: top;
   width: 17px;
}
#wb_BulletedList1 .item
{
   float: left;
   padding: 0px 0 0px 0;
   vertical-align: top;
   width: 92px;
}
#wb_BulletedList1 .item0
{
   height: 18px;
   text-align: left;
}
#wb_BulletedList1 .item1
{
   height: 18px;
   text-align: left;
}
#wb_BulletedList1 .item2
{
   height: 18px;
   text-align: left;
}
#wb_BulletedList1 .item3
{
   height: 18px;
   text-align: left;
}
#wb_Heading14
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading14
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
   margin: 0;
   text-align: left;
}
#Shape3
{
   border-width: 0;
}
#wb_FontAwesomeIcon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   text-align: center;
   margin: 0;
   padding: 0;
   box-shadow: 0px 0px 1px #C0C0C0;
   vertical-align: top;
}
#wb_FontAwesomeIcon1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
}
#FontAwesomeIcon1
{
   height: 77px;
   width: 110px;
}
#FontAwesomeIcon1 i
{
   color: #265A88;
   display: inline-block;
   font-size: 77px;
   line-height: 77px;
   vertical-align: middle;
   width: 86px;
}
#wb_FontAwesomeIcon1:hover i
{
   color: #337AB7;
}
#wb_FontAwesomeIcon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   text-align: center;
   margin: 0;
   padding: 0;
   box-shadow: 0px 0px 1px #C0C0C0;
   vertical-align: top;
}
#wb_FontAwesomeIcon2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
}
#FontAwesomeIcon2
{
   height: 77px;
   width: 110px;
}
#FontAwesomeIcon2 i
{
   color: #265A88;
   display: inline-block;
   font-size: 77px;
   line-height: 77px;
   vertical-align: middle;
   width: 86px;
}
#wb_FontAwesomeIcon2:hover i
{
   color: #337AB7;
}
#wb_Heading15
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading15
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
   margin: 0;
   text-align: left;
}
#wb_BulletedList2
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   background-image: url(images/index_BulletedList2_bkgrnd.png);
   background-repeat: no-repeat;
   background-position: left top;
   background-size: 100% 100%;
   margin: 0;
}
#wb_BulletedList2 .bullet
{
   color: #000000;
   float: left;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 0px;
   text-align: left;
   vertical-align: top;
   width: 17px;
}
#wb_BulletedList2 .item
{
   float: left;
   padding: 0px 0 0px 0;
   vertical-align: top;
   width: 98px;
}
#wb_BulletedList2 .item0
{
   height: 18px;
   text-align: left;
}
#wb_BulletedList2 .item1
{
   height: 18px;
   text-align: left;
}
#wb_BulletedList2 .item2
{
   height: 18px;
   text-align: left;
}
#wb_BulletedList2 .item3
{
   height: 18px;
   text-align: left;
}
#wb_Text18 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text18 div
{
   text-align: center;
}
#Breadcrumb1
{
   padding: 8px 20px 8px 20px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   font-family: Arial;
   font-weight: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#Breadcrumb1 > li
{
   display: inline-block;
   font-size: 13px;
}
#Breadcrumb1 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#Breadcrumb1 a:hover
{
   color: #23527C;
   text-decoration: underline;
}
#Breadcrumb1 > .active
{
   color: #777777;
}
#Breadcrumb1 > li + li:before
{
   content: "|";
   padding: 0 5px;
   color: #FFFFFF;
}
