body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_SlideShow3
{
   min-height: 20px;
   background-color: #F5F5F5;
   background-image: none;
   border: 1px solid #E3E3E3;
   box-sizing: border-box;
   width: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#SlideShow3
{
   padding: 30px 40px 30px 40px;
   position: relative;
   margin: 0;
   line-height: 1;
   height: 100%;
   box-sizing: border-box;
}
#SlideShow3 .carousel-inner
{
   overflow: hidden;
   width: 100%;
   position: relative;
}
#SlideShow3 .carousel-inner > .item
{
   display: none;
   position: relative;
   -webkit-transition: 0.6s ease-in-out left;
   -moz-transition: 0.6s ease-in-out left;
   transition: 0.6s ease-in-out left;
}
#SlideShow3 .carousel-inner > .item > img, #SlideShow3 .carousel-inner > .item > a > img
{
   display: block;
   line-height: 1;
}
#SlideShow3 .carousel-inner > .active, #SlideShow3 .carousel-inner > .next, #SlideShow3 .carousel-inner > .prev
{
   display: block;
}
#SlideShow3 .carousel-inner > .active
{
   left: 0;
}
#SlideShow3 .carousel-inner > .next, #SlideShow3 .carousel-inner > .prev
{
   position: absolute;
   top: 0;
   width: 100%;
}
#SlideShow3 .carousel-inner > .next
{
   left: 100%;
}
#SlideShow3 .carousel-inner > .prev
{
   left: -100%;
}
#SlideShow3 .carousel-inner > .next.left, #SlideShow3 .carousel-inner > .prev.right
{
   left: 0;
}
#SlideShow3 .carousel-inner > .active.left
{
   left: -100%;
}
#SlideShow3 .carousel-inner > .active.right
{
   left: 100%;
}
#SlideShow3 .carousel-indicators
{
   list-style: none;
   bottom: 0;
   padding: 0;
   margin: 0;
   position: absolute;
   margin-left: -36px;
   left: 50%;
   vertical-align: middle;
   z-index: 998;
}
#SlideShow3 .carousel-indicators li
{
   display: block;
   float: left;
   padding: 12px 12px 12px 12px;
   width: 12px;
   height: 12px;
   cursor: pointer;
   text-indent: -999px;
   background-repeat: no-repeat;
   background-position: center center;
   background-image: url(images/slide_default.png);
}
#SlideShow3 .carousel-indicators .active
{
   background-image: url(images/slide_active.png);
}
#SlideShow3 .thumbnails
{
   margin: 0;
   padding: 0;
   width: 100%;
}
#SlideShow3 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   float: left;
   text-align: center;
   vertical-align: top;
   padding-right: 1px;
   width: 50%;
}
#SlideShow3 .thumbnail img
{
   max-width: 100%;
   width: 100%;
   height: auto;
   vertical-align: middle;
   box-sizing: border-box;
   border: 0px solid #000000;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
#PhotoGallery1
{
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#PhotoGallery1 .thumbnails
{
   margin: 0;
}
#PhotoGallery1 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   float: left;
   padding: 3px 3px 3px 3px;
   width: 25%;
   text-align: center;
   vertical-align: top;
}
#PhotoGallery1 .caption
{
   color: #FF0000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   margin: 0;
   text-align: center;
   text-decoration: none;
   padding: 3px 0px 0px 0px;
   position: absolute;
   left: 0;
   top: 0;
   background-color: #F5F5F5;
   opacity: 0;
}
#PhotoGallery1 .description
{
   color: #C0C0C0;
   font-weight: normal;
   font-size: 12px;
   font-style: normal;
   text-align: center;
}
#PhotoGallery1 .thumbnail img
{
   border-width: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 100%;
   box-sizing: border-box;
}
#PhotoGallery1 .clearfix:before,
#PhotoGallery1 .clearfix:after,
#PhotoGallery1 .thumbnails:before,
#PhotoGallery1 .thumbnails:after
{
   display: table;
   content: " ";
}
#PhotoGallery1 .clearfix:after,
#PhotoGallery1 .thumbnails:after
{
   clear: both;
}
#PhotoGallery1 .visible-col4
{
   display: block;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#PhotoGallery2
{
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#PhotoGallery2 .thumbnails
{
   margin: 0;
}
#PhotoGallery2 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   float: left;
   padding: 3px 3px 3px 3px;
   width: 25%;
   text-align: center;
   vertical-align: top;
}
#PhotoGallery2 .caption
{
   color: #FF0000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   margin: 0;
   text-align: center;
   text-decoration: none;
   padding: 10px 0px 0px 0px;
   position: relative;
}
#PhotoGallery2 .description
{
   color: #C0C0C0;
   font-weight: normal;
   font-size: 11px;
   font-style: normal;
   text-align: center;
}
#PhotoGallery2 .thumbnail img
{
   border-width: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 100%;
   box-sizing: border-box;
}
#PhotoGallery2 .clearfix:before,
#PhotoGallery2 .clearfix:after,
#PhotoGallery2 .thumbnails:before,
#PhotoGallery2 .thumbnails:after
{
   display: table;
   content: " ";
}
#PhotoGallery2 .clearfix:after,
#PhotoGallery2 .thumbnails:after
{
   clear: both;
}
#PhotoGallery2 .visible-col4
{
   display: block;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#Image2
{
   border-width: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#Image3
{
   border-width: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image4
{
   border-width: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#PhotoCollage2
{
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
   position: relative;
}
#PhotoCollage2 .thumbnail img
{
   border: 0px #000000 solid;
   box-sizing: border-box;
}
#PhotoCollage2 .thumbnail
{
   position: absolute;
}
#PhotoCollage2 .thumbnail img
{
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#PhotoCollage3
{
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
   position: relative;
}
#PhotoCollage3 .thumbnail img
{
   border: 0px #000000 solid;
   box-sizing: border-box;
}
#PhotoCollage3 .thumbnail
{
   position: absolute;
}
#PhotoCollage3 .thumbnail img
{
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
}
#Picture2
{
   border: 0px solid #000000;
   padding: 0;
   object-fit: contain;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#RollOver1 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver1 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver1 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver1 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#RollOver2 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver2 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver2 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver2 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOverText1 .description
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   margin: 0;
   padding: 0px 10px 0px 10px;
   text-align: center;
}
#RollOverText1 .link
{
   display: inline-block;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   color: #FFFFFF;
   padding: 0px 10px 10px 10px;
   text-decoration: underline;
}
#RollOverText1 .title
{
   text-align: center;
   padding: 10px 10px 0px 10px;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #FFFFFF;
}
#RollOverText1 .caption
{
   float: left;
   position: absolute;
   left: 0;
   top: 0;
   text-align: center;
   background: #000000;
   width: 100%;
   opacity: 0;
}
#RollOverText1 .image
{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOverText1
{
   border-width: 0;
   margin: 0;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#RollOverText2 .image
{
   display: block;
   position: relative;
   -webkit-transition: all 400ms ease-in-out 0.2s;
   -moz-transition: all 400ms ease-in-out 0.2s;
   transition: all 400ms ease-in-out 0.2s;
   opacity: 1;
}
#RollOverText2 .caption 
{
   width: 100%;
   height: 100%;
   position: absolute;
   overflow: hidden;
   left: 0;
   top: 0;
   text-align: center;
   background-color: rgba(0,0,0,0.60);
   opacity: 0;
   -webkit-transform: scale(0) rotate(-180deg);
   -moz-transform: scale(0) rotate(-180deg);
   transform: scale(0) rotate(-180deg);
   -webkit-transition: all 400ms ease-in;
   -moz-transition: all 400ms ease-in;
   transition: all 400ms ease-in;
}
#RollOverText2 .title
{
   position: relative;
   text-align: center;
   padding: 10px 10px 0px 10px;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #FFFFFF;
   opacity: 0;
   -webkit-transition: all 500ms ease-in-out;
   -moz-transition: all 500ms ease-in-out;
   transition: all 500ms ease-in-out;
}
#RollOverText2 .description
{
   position: relative;
   margin: 0;
   padding: 0px 10px 0px 10px;
   text-align: center;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   color: #FFFFFF;
   opacity: 0;
   -webkit-transition: all 500ms ease-in-out;
   -moz-transition: all 500ms ease-in-out;
   transition: all 500ms ease-in-out;
}
#RollOverText2 .link
{
   display: inline-block;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   padding: 0px 10px 10px 10px;
   text-align: center;
   text-decoration: underline;
   opacity: 0;
   -webkit-transition: all 500ms ease-in-out;
   -moz-transition: all 500ms ease-in-out;
   transition: all 500ms ease-in-out;
}
#RollOverText2:hover .caption
{
   opacity: 1;
   -webkit-transform: scale(1) rotate(0deg);
   -moz-transform: scale(1) rotate(0deg);
   transform: scale(1) rotate(0deg);
   -webkit-transition-delay: 200ms;
   -moz-transition-delay: 200ms;
   transition-delay: 200ms;
}
#RollOverText2:hover .image
{
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   transform: scale(0);
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   transition-delay: 0s;
   opacity: 0;
}
#RollOverText2:hover .title
{
   opacity: 1;
   -webkit-transition-delay: 500ms;
   -moz-transition-delay: 500ms;
   transition-delay: 500ms;
}
#RollOverText2:hover .description
{
   opacity: 1;
   -webkit-transition-delay: 500ms;
   -moz-transition-delay: 500ms;
   transition-delay: 500ms;
}
#RollOverText2:hover .link
{
   opacity: 1;
   -webkit-transition-delay: 500ms;
   -moz-transition-delay: 500ms;
   transition-delay: 500ms;
}
#RollOverText2 .image
{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOverText2
{
   border-width: 0;
   margin: 0;
}
#SlideShow1 .image
{
   border-width: 0;
   left: 0;
   top: 0;
   width: auto;
   height: 100%;
}
#SlideShow2 .image
{
   border-width: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
